.beers-table {
  margin: 0 auto;
  border-collapse: collapse;
  max-width: 1300px;
  &,
  & td,
  & th {
    border: 1px solid #000;
    padding: 5px 10px;
  }

  & td {
    max-width: 200px;
    text-align: center;
  }

  & thead {
    background-color: rgb(224, 223, 223);
    & th {
      cursor: pointer;
    }
  }
}
