.catalog-item {
  background-color: #58ab79;
  text-align: center;
  color: #fff;
  padding: 15px;
  box-sizing: border-box;

  &__tag {
    font-size: 24px;
    line-height: 1.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    & > img {
      max-width: 100px;
      max-height: 200px;
    }
  }
}

.goods-charachteristics {
  margin-left: 20px;
  & > ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    background-color: #fff;
    padding: 10px 15px 15px;
    color: #000;
    max-width: 230px;
    width: 100%;
    box-sizing: border-box;

    & > li {
      font-size: 18px;
      &:not(:first-child) {
        font-size: 15px;
        text-align: left;
      }
    }
  }
}
