.catalog {
  font-family: Georgia, "Times New Roman", Times, serif;
  max-width: 1300px;
  margin: 0 auto;
  padding: 40px 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
